@model BarRating.Models.ReviewModels.ReviewCreateModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Create";
}

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="BarId" type="hidden" value="@ViewBag.id" class="form-control" />         
            </div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@userId" class="form-control" />
            </div>           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
